include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/pnaig_oauth2 *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/pnaig_oauth2/migration *.ini *.py *.mako
recursive-include ckanext/pnaig_oauth2/public *.*
